/* global */
*{ margin: 0; padding: 0;}
h1,h2,h3,h4,h5,h6 {
  font-size: 100%;
}
html{font-size: 62.5%;}
body{
	font-family: YuGothic,
	'YuGothic',sans-serif;
  font-size: 100%;
}

#header{
	width: 100%;
  height: 60px;
  line-height: 60px;
	position: fixed;
	top: 0;
	left:0;
	z-index: 999;
}

.header-logo{
	padding-top: 1.2rem;
	padding-left: .5rem;
  display: inline-block
}

.header-logo  img{
	width: 90%;
}

.header-nav {
	font-size: .8rem;
	float: right
}

.drawer-menu{
  -webkit-transform: translate3d(0,0,0);
  -webkit-overflow-scrolling: touch;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  transition: all .2s ease;
}

.drawer-nav .cat-item {
  line-height: 60px;
	margin-left: 2rem;
	display: block
}

.drawer-nav .cat-item:last-child {
	margin-right: 1rem;
}

.drawer-nav ul li{
    opacity: 1;
}

@media screen and (max-width: 1023px){
	.drawer-nav .cat-item {
	 	line-height: 45px;
		margin-left: 2rem;
		display: block
	}
	.drawer-nav ul li{
    opacity: 0;
    -webkit-transform: translateX(30px);
    -moz-transform: translateX(30px);
    transform: translateX(30px);
  }
  .drawer-open .drawer-nav ul li{
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
  }

  .drawer-open li:nth-child(1){
    -webkit-transition: opacity .3s ease .2s, -webkit-transform .4s ease .2s;
    -moz-transition: opacity .3s ease .2s, -moz-transform .4s ease .2s;
    transition: opacity .3s ease .2s, transform .4s ease .2s;
	}

	.drawer-open li:nth-child(2){
	    -webkit-transition: opacity .3s ease .25s, -webkit-transform .4s ease .25s;
	    -moz-transition: opacity .3s ease .25s, -moz-transform .4s ease .25s;
	    transition: opacity .3s ease .25s, transform .4s ease .25s;
	}

	.drawer-open li:nth-child(3){
	    -webkit-transition: opacity .3s ease .3s, -webkit-transform .4s ease .3s;
	    -moz-transition: opacity .3s ease .3s, -moz-transform .4s ease .3s;
	    transition: opacity .3s ease .3s, transform .4s ease .3s;
	}

	.drawer-open li:nth-child(4){
	    -webkit-transition: opacity .3s ease .35s, -webkit-transform .4s ease .35s;
	    -moz-transition: opacity .3s ease .35s, -moz-transform .4s ease .35s;
	    transition: opacity .3s ease .35s, transform .4s ease .35s;
	}

	.drawer-open li:nth-child(5){
	    -webkit-transition: opacity .3s ease .4s, -webkit-transform .4s ease .4s;
	    -moz-transition: opacity .3s ease .4s, -moz-transform .4s ease .4s;
	    transition: opacity .3s ease .4s, transform .4s ease .4s;
	}
}

#footer{
	height: 75px;
	padding: 0 5%;
	line-height: 75px;
  background: #4A4A4A;
}

.copyright{
  font-size: 1.2rem;
  font-family: 'Cuprum', sans-serif;
  text-align: center;
  color: #fff;
}
.footer-nav{
	float: right;
}
.footer-nav .cat-item{
	margin-left: 2rem;
	display: inline-block;
}

/* style for index.php */

#slider{
  width: 100%;
	min-height: 520px;
}

@media screen and (max-width: 1160px){
  #slider .inner{
    padding: 0;
  }
}

.slider-upper{
  height: 350px;
  margin: 0 auto;
	position: relative;
	overflow: hidden;
	background-color: #787878;
}

.slider-upper img{
  width: 100%;
  height: auto;
}

.slider-down{
	height: 130px;
	padding: 2rem 2.5rem;
	background-color: #F6F6F6;
	position: relative;
}
.slider-date{
	width: 50px;
	height: 50px;
  margin-left: 5.5rem;
	line-height: 50px;
	font-size: .8rem;
	position: absolute;
	top:-25px;
	left: 0;
  text-align: center;
	background-color: #292929;
	color: #fff;
}

.slider-title{
	width:44%;
	text-align: left;
	display:inline-block;
	vertical-align: middle;
}

.slider-title p{
	font-size: 3.5rem;
  padding-left: 3rem;
	padding-right: 2.5rem;
  line-height: 1.1;
	display:inline-block;
}

.slider-paragraph{
	width:55%;
	height: 130px;
	border-left: 1px solid #292929;
	display:inline-block;
	vertical-align: middle;
}

.slider-paragraph p:first-child{
  font-size: 1.5rem;
	margin-left: 2.5rem;
	margin-bottom: .5rem;
	padding-left: 0;
	font-family: 'Cuprum', sans-serif;
	border-bottom: 2px solid #292929;
	display: inline-block;
}

.slider-paragraph p{
	font-size: 1.25rem;
	padding-left: 2.5rem;
}

@media screen and (max-width: 480px){
  #slider{
	min-height: 540px;
  }
  #slider .inner{
    padding: 0;
  }
  .bx-wrapper img {
    max-width: auto;
  }
  .bx-wrapper{
  	max-width:auto;
  	height: 100%;
  }
  .slider-upper{
  	height: 300px;
  }
  .slider-upper img{
    max-width: auto;
    height: 100%;
  }

  .slider-down{
	height: 190px;
	padding: 2.5rem 2.5rem;
	}
	.slider-date{
		width: 35px;
		height: 35px;
	    margin-left: 2.5rem;
		line-height: 35px;
		top:-17.5px;
	}
	.slider-title{
		width:100%;
		display:block;
	}

	.slider-title p{
		font-size: 2rem;
		padding-top: 1.5rem;
	  padding-left: 0rem;
		padding-right: 0rem;
		padding-bottom: 1rem;
		display:inline-block;
	}

	.slider-paragraph{
		width:100%;
		height: 100px;
		border-left: 0px solid #292929;
		display:block;
		vertical-align: middle;
	}
	.slider-paragraph p:first-child{
	  	font-size: 1.5rem;
		margin-left: 0rem;
		margin-bottom: .5rem;
		padding-left: 0;
		font-family: 'Cuprum', sans-serif;
		border-bottom: 2px solid #292929;
		display: inline-block;
	}
	.slider-paragraph p{
		font-size: 1.25rem;
		padding-left: 0rem;
	}


}

#single-row{}

.header-title{
  padding: 3.5rem 0 2.5rem 0;;
  font-size: 3rem;
  font-weight: normal;
  font-family: 'Cuprum', sans-serif;
  text-align: center;
}

.header-title span{
  border-bottom: 1px solid #000;
}

.header-title p{
  font-size: 1rem;
  padding: .5rem;
  color: #BCBCBC;
}

/* １列コンテンツの上側 */
.largeModule{
  width: 100%;
  margin-bottom: 3.5rem;
  position: relative;
}

/*[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
}*/

.largeModule .image{
  width:60%;
  height: 250px;
	position: relative;
	overflow: hidden;
  float: left;
}

.largeModule .image img{
  width: 100%;
  height: auto;
}

.largeModule .text{
  width:40%;
	height: 180px;
  margin-top: 3.5rem;
  margin-left: -3.5rem;
  margin-right: 3.5rem;
	position: relative;
  float: left;
  z-index: 10;
}

.largeModule .text-reverse{
  margin-top: 3.5rem;
  margin-left: 3.5rem;
  margin-right: -3.5rem;
}

@media screen and (max-width: 767px){
  .largeModule .image img{
    width: auto;
    height: 100%;
  }
}

.largeModule .square{
	width: 35px;
	height: 35px;
  position: absolute;
  top:-35px;
  left:-35px;
  background-color: #F6F6F6;
}
.largeModule .square-reverse{
  top:-35px;
  right:-35px;
  left: auto;
}

.largeModule .date{
	width: 35px;
	height: 35px;
	line-height: 35px;
	font-size: .6rem;
	position: absolute;
  right: -35px;
	bottom:-35px;
	background-color: #292929;
	color: #fff;
	text-align: center;
}

.largeModule .date-reverse{
  left: -35px;
	bottom:-35px;
  right: auto;
}

.largeModule .title{
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.largeModule .paragraph{
  font-size: 1.2rem;
	padding-top: .5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

@media screen and (max-width: 1024px){
  .largeModule .paragraph{
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 480px){
  .largeModule{
    width: 100%;
    height: 400px;
    margin-bottom: 7rem;
    position: relative;
  }
  .largeModule .image{
    width:100%;
    height: 200px;
    float: none;
    position: absolute;
    top: 0;
    left: 0;
  }
  .largeModule .image img{
    width: 100%;
    height: auto;
  }
  .largeModule .square{
  position: absolute;
  top:-35px;
  left:-35px;
  background-color: #F6F6F6;
	}
	.largeModule .square-reverse{
	  top:-35px;
	  right:-35px;
	  left: auto;
	}
	.largeModule .date{
		line-height: 35px;
		font-size: .6rem;
		position: absolute;
	  right: -35px;
		bottom:-35px;
		background-color: #292929;
		color: #fff;
		text-align: center;
	}

  .largeModule .text{
    width:80%;
  	height: 200px;
    margin-top: -7rem;
    margin-left: 10%;
    margin-right: 10%;
  	position: absolute;
    float: right;
    z-index: 10;
    clear: both;
    bottom: 0;
    right: 0;
  }
}

#mediumContents{
}

.mediumModule-inner{
  margin-left: -1.5%;
  margin-right: -1.5%;
}

.mediumModule{
  width: 47%;
  margin-right: 1.5%;
  margin-left: 1.5%;
  margin-bottom: 3.5rem;
  position: relative;
  float: left;
}

.mediumModule .image{
  width:52.5%;
  height: 170px;
  margin: 0 auto;
	position: relative;
	overflow: hidden;
  float: left;
}

.mediumModule .image img{
  width: 100%;
  height: auto;
}

.mediumModule .text{
  width:52.5%;
	height: 170px;
  margin-top: 3.5rem;
  margin-left: -3.5rem;
	background-color: #FFF;
	position: relative;
  float: left;
  z-index: 1;
}

.mediumModule .date{
	width: 35px;
	height: 35px;
	line-height: 35px;
	font-size: .6rem;
	position: absolute;
  left: -35px;
	top:0px;
	color: #fff;
	text-align: center;
}

.mediumModule .title{
  padding: 1.5rem 1.5rem 1rem 1.5rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.mediumModule .paragraph{
  font-size: .8rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media screen and (max-width: 768px){
  .mediumModule .image{
    width:90%;
  }

  .mediumModule .text{
    width:90%;
    margin-top: -2.5rem;
    margin-left: 2.5rem;
  }
  .mediumModule .date{
  	width: 40px;
  	height: 18px;
  	line-height: 18px;
    left: auto;
    right: 10px;
  	top:auto;
    bottom: 10px;
  }
}

@media screen and (max-width: 480px){
  .mediumModule{
    width: 100%;
  }
}

#linearContents{}
#archives{
  min-height:800px;
}

.linearModule{
  width: 100%;
  margin-bottom: 3rem;
}

.linearModule .image{
  width: 30%;
  height: 200px;
  float: left;
  position: relative;
  overflow: hidden;
}

.linearModule .mask p{
  line-height: 200px;
}

.linearModule .image img{
  width: 100%;
  height: auto;
}

.linearModule .text{
  width: 70%;
  height: 200px;
  float: left;
  background: #f6f6f6;
}

@media screen and (max-width: 768px){
  .linearModule .image{
    height: 150px;
  }
  .linearModule .mask p{
    line-height: 150px;
  }
  .linearModule .image img{
    width: auto;
    height: 100%;
  }
  .linearModule .text{
    height: 150px;
  }
}


.linearModule .title-block{
  width: 35%;
  height: 180px;
  float: left;
  position: relative;
}

@media screen and (max-width: 768px){
  .linearModule .title-block{
    height: 120px;
  }
}

.linearModule .title-border{
  margin-left: 2.5rem;
}

@media screen and (max-width: 480px){
  .linearModule .title-border{
    margin-left: 1.5rem;
  }
}

.linearModule .title{
  font-size: 1.4rem;
  margin:2.5rem 2.5rem 0 2.5rem;
}

.linearModule .date{
  width: 40px;
  height: 15px;
  margin-top: .5rem;
  margin-left: 2.5rem;
  line-height: 15px;
  text-align: center;
  position: absolute;
  bottom:0;
  left:0;
  background: #000;
  color: #fff;
}

.linearModule .paragraph-block{
  width: 65%;
  height: 200px;
  float: left;
}

.linearModule .paragraph{
  min-height: 150px;
  border-left: 1px solid #979797;
}

.linearModule .paragraph p{
  font-size: 1.2rem;
  margin:2.5rem;
}

@media screen and (max-width: 768px){
  .linearModule .paragraph-block{
    height: 150px;
  }
  .linearModule .paragraph{
    min-height: 100px;
  }
}

@media screen and (max-width: 480px){
	.linearModule{
  		margin-bottom: 1.5rem;
	}
	.linearModule .image{
	  width:30%;
	  height: 100px;
	}
	.linearModule .text{
      height: 100px;
  	}
  .linearModule .title{
 		font-size: 1.4rem;
    line-height:1.2;
  	margin: 1.5rem 1.5rem 0 1.5rem;
	}
	.linearModule .paragraph-block{
		display: none;
	}
	.linearModule .title-block{
 		width: 100%;
  		height: 80px;
	}
	.linearModule .date{
	  margin-left: 1.5rem;
	}
}

/* 共通モジュール */
a{
  color: #292929;
	text-decoration: none;
  cursor: pointer;
}

.wrapper{
  width: 100%;
  position: relative;
}

.inner{
	max-width: 1160px;
  padding: 0 2.5rem;
	margin: 0 auto;
}

@media screen and (max-width: 480px){
	.inner{
	  padding: 0 1.5rem;
	}
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.top-margin{margin-top: 60px;}
.padding-reset{ padding: 0;}

.title-border{
  width: 3.5rem;
  margin-top: .5rem;
  border-bottom: 1px solid #979797;
}

@media screen and (max-width: 480px){
  .title-border{
    margin-top: .5rem;
  }
}

.image-centered img{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.mask {
  width:			100%;
	height:			100%;
	position:		absolute;	/* 絶対位置指定 */
	top:			0;
	left:			0;
	opacity:		0;	/* マスクを表示しない */
	background-color:	rgba(0,0,0,0.4);	/* マスクは半透明 */
	-webkit-transition:	all 0.2s ease;
	transition:		all 0.2s ease;
  z-index: 10;
}

.mask p{
  font-size: 1.4rem;
  text-align: center;
  color: #fff;
}

.mask span{
  padding: 1rem 2rem;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.mask .arrow{
  padding: 0;
  margin-left: 1rem;
  border: 0;
  -webkit-transition:	all .2s .1s ease;
	transition:		all .2s .1s ease;
  opacity:		0;
}

.mask:hover { opacity: 1;}
.mask:hover .arrow{ opacity: 1;}

.theme-font {font-family: 'Cuprum';}
.white      {background: #ffffff;}
.black      {background: #292929;}
.lightgray  {background: #FAFAFA;}
.gray       {background: #F6F6F6;}
.darkgray   {background: #C0C0C0;}
