#single{

}

.single{
	overflow-x: hidden;
}

.single .image{
	height: 400px;
  margin: 0 auto;
	position: relative;
	overflow: hidden;
	background-color: #787878;
}

@media screen and ( max-width:768px){
	.single .image{
		height: 300px;
	}
}

.single .image > img{
  width: 100%;
	height: auto;
}

@media screen and ( max-width:480px){
	.single .image > img{
	  width: auto;
		height: 100%;
	}
}

.single .title{
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	background-color: #000;
	opacity: .4;
	z-index: 10;
}

.single .title h2{
	width: 100%;
	padding: 0 5%;
	font-size: 4rem;
	text-align: center;
	color: #ffffff;
	position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.single .excerpt{
	width: 60%;
	margin: 0 auto;
	padding: 5rem 0;
	font-size: 1.5rem;
	position: relative;
}

@media screen and ( max-width:768px){
	.single .excerpt{
		width: 70%;
	}
}

@media screen and ( max-width:480px){
	.single .excerpt{
		width: 100%;
	}
}


.single .excerpt .num{
	font-size: 4rem;
	margin-bottom: 2.5rem;
	text-align: center;
}

.single .excerpt .num span{
	border-bottom: 4px solid #292929;
}

.single .excerpt .date{
	font-size: .8rem;
	text-align: center;
}

.single .excerpt .desc{
	font-size: 1.4rem;
}

.single .paragraph{
  width: 50%;
  margin-top: 75px;
  margin-left: 25%;
  margin-bottom: 75px;
  position: relative;
}

.single .paragraph h3{
  font-size: 2rem;
  margin-bottom: 1rem;
}

.single .paragraph p{
  font-size: 1.4rem;
  line-height: 2.2;
  margin-bottom: 2.5rem;
}

@media screen and (max-width: 768px){
	.single .paragraph{
	  width: 70%;
	  margin-top: 75px;
	  margin-left: 15%;
	  margin-bottom: 75px;
	  position: relative;
	}
	.single .excerpt .num{
		font-size: 2.5rem;
		margin-bottom: 1rem;
		text-align: center;
	}
	.single .excerpt .desc{
		font-size: 1.2rem;
	}
}


@media screen and (max-width: 480px){
	.single .paragraph{
	  width: 95%;
	  margin-top: 75px;
	  margin-left: 2.5%;
	  margin-bottom: 75px;
	  position: relative;
	}
	.single .paragraph p{
	  font-size: 1.4rem;
	  line-height: 2.0;
	  margin-bottom: 2.5rem;
	}
}


.single .paragraph .image{
	margin-top: 5.5rem;
  position: relative;
}

.single .paragraph .image > img{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.single .paragraph .large{
	height: 450px;
  margin-left: -125%;
	margin-right: -125%;
}

.single .paragraph .large > img{
	width: 100%;
	height: auto;
}

.single .paragraph .medium{
	height: 300px;
  margin-right:-75%;
}

.single .paragraph .medium > img{
  position: absolute;
  top: 50%;
  left: 50%;
}

@media screen and ( max-width:768px){
	.single .paragraph .large{
		height: 250px;
	  margin-left: -40%;
		margin-right: -40%;
	}

	.single .paragraph .medium{
		height: 200px;
	  margin-right:-75%;
	}
}

.single .paragraph .medium > img{
	width: 100%;
	height: auto;
}

.single .paragraph .small{
	height: 150px;
  margin-left: 105%;
  margin-right: -45%;
	margin-top: 0;
}

.single .paragraph .small > img{
	width: auto;
	height: 100%;
}

.single .paragraph .image + h3,
.single .paragraph .image + p{
	margin-top: 2.5rem;
}

.single .paragraph .small + h3{
  margin-top: -150px;
}

.single .paragraph .small + p{
  margin-top: -150px;
}


.single .paragraph > h2{
  font-size: 4rem;
  min-height: 400px;
  margin-top: 75px;
  margin-left: -200px;
  position: relative;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
}


@media screen and ( max-width:768px){
	.single .paragraph > h2{
		min-height: 300px;
	  font-size: 3rem;
	  margin-left: -100px;
	}


@media screen and (max-width: 480px){
	.single .paragraph > h2{
	  font-size: 2.5rem;
	  min-height: 250px;
	  margin-top: 75px;
	  margin-left: 0px;
	  position: relative;
	  -webkit-writing-mode: initial;
	  -ms-writing-mode: initial;
	  writing-mode: initial;
	}
}
}

.single .paragraph > h2:first-child{
	margin-top: 0px;
}

.single .paragraph > h2 + p,
.single .paragraph > h2 + ul,
.single .paragraph > h2 + ol,
.single .paragraph > h2 + blockquote{
	margin-top: -150px;
}

article{
  margin-bottom: 2rem;
}

aside{
	margin: 0 auto;
  padding: 3rem 0;
}

aside:after{
	content: "";
	clear: both;
	display: block;
}

aside img, aside p{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

aside img{
  width: 100%;
  height: auto;
}

aside p{
	width: 80%;
	padding: 0 .2rem;
	font-size: 2rem;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.2);
}

.prev-post, .next-post{
	width: 47.5%;
	height: 140px;
	margin: 0 auto;
	position: relative;
	display: inline-block;
	overflow: hidden;
	background-color: #292929;
}

.prev-post > img, .next-post > img{

}

.prev-post{
	float: right;
}
.next-post{
	float: left;
}

.related{
	position: relative;
}

.related .image{
	width:30%;
	float: left;
}

.related .image img{
	width:100%;
	height: auto;
}

.related .text{
	width:70%;
	float: left;
}


ol{
	margin-left: 25px;
	border-left: 1px solid #292929;
}

ol > li{
	margin-left: 32px;
	margin-bottom: 1.5rem;
	font-size: 1.2rem;
	list-style: none;
}

ol > li .box{
	content: 'a';
	display: inline-block;
	width: 32px;
	margin-left: -48px;
	margin-right: 16px;
	background-color: #292929;
	color: #fff;
	text-align: center;
}

.citation{
  position: absolute;
  right: .5rem;
  bottom: .5rem;
  color: #FFF;
}

blockquote{
  margin: 2.5rem 0;
  padding:2.5rem 3rem;
  font-size: 1rem;
  position:relative;
  background-color:#fbfbfb;
}

.single .paragraph blockquote p{
	font-size: 1.2rem;
  margin-bottom: 0;
}
blockquote:before{
  content:"“";
  font-size:400%;
  font-family:"ＭＳ Ｐゴシック",sans-serif;
  color:#000;
  position:absolute;
  left:8px;
  top:0;
}
blockquote:after{
  content:"”";
  font-size:400%;
  line-height:1rem;
  font-family:"ＭＳ Ｐゴシック",sans-serif;
  color:#000;
  position:absolute;
  right:8px;
  bottom:0;
}
