span{

}

ol{
	border-left: 1px solid #292929;
}

ol > li{
	margin-left: 40px;
	margin-bottom: 1em;
	font-size: 1em;
	line-height: 40px;
	list-style: none;
}

ol > li span{
	content: 'a';
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-left: -60px;
	margin-right: 20px;
	background-color: #292929;
	color: #fff;
	text-align: center;
}

ol > li  p{
	margin-left: 40px;
	margin-bottom: 1em;
	font-size: 1em;
	line-height: 40px;
	list-style: none;
}

ol > li .box{
	content: 'a';
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-left: -60px;
	margin-right: 20px;
	background-color: #292929;
	color: #fff;
	text-align: center;
}
